<div class="container">
    <a href="/Cuentas/Index">volver</a>
    <a href="/Gasto/Crear?idcuenta=@ViewBag.Id_Cuenta" class="btn btn-primary">Crear gasto</a>
    <br />
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Fecha y hora</th>
                <th>Monto</th>
                <th>Decripción</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Fecha_Hora</td>
                    <td>@item.Monto</td>
                    <td>@item.Descripcion</td>
                </tr>
            }
        </tbody>
    </table>
</div>