
<form method="post" action="/Transferencia/Crear">
    <div class="form-group">
        <label for="Username">Fecha y hora</label>
        <input type="datetime-local" name="Fecha_Hora" class="form-control form-control-line">
    </div>
    <div class="form-group">
        <label for="Username">Cuenta origen</label>
        <select name="Id_Cuenta_Origen" class="form-control">
            <option value="0">--Seleccione cuenta--</option>
            @foreach (var origen in ViewBag.CuentasOrigen)
            {
                <option value="@origen.Id_Cuenta">@origen.Nombre</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="Username">Cuenta destino</label>
        <select name="Id_Cuenta_Destino" class="form-control">
            <option value="0">--Seleccione cuenta--</option>
            @foreach (var destino in ViewBag.CuentasDestino)
            {
                <option value="@destino.Id_Cuenta">@destino.Nombre</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="Username">Monto</label>
        <input type="number" name="Monto" class="form-control form-control-line" id="Username">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-block btn-lg btn-primary text-uppercase fs-12 fw-600">Registrar</button>
    </div>
</form>
